@media (max-width: 1024px) {
  nav ul {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    gap: 0.8rem;
    margin-top: 10px;
  }

  .icon {
    font-size: 18px !important;
    margin-right: 0;    
  }
}
