 <header class="sticky top-0 w-full z-50 bg-white border-b border-gray-200 shadow-sm">
        <nav class="container mx-auto flex justify-between items-center py-4 px-6 md:px-12">
            <a href="#hero" class="text-2xl sm:text-3xl md:text-4xl font-black text-black hover:text-gray-700 transition-colors tracking-tighter whitespace-nowrap icon">
                        {{ (userName$ | async)?.name || 'Portfolio' }}

            </a>
            <ul class="flex space-x-8 text-lg font-medium">
                <li><a routerLink="/home" routerLinkActive = "active" class="text-gray-600 hover:text-black transition-colors">Home</a></li>
                <li><a routerLink="/about" routerLinkActive = "active" class="text-gray-600 hover:text-black transition-colors">About</a></li>
                <li><a routerLink="/skill" routerLinkActive = "active" class="text-gray-600 hover:text-black transition-colors">Skills</a></li>
                <li><a routerLink="/project" routerLinkActive = "active" class="text-gray-600 hover:text-black transition-colors">Projects</a></li>
                <li><a routerLink="/contact" routerLinkActive = "active" class="text-gray-600 hover:text-black transition-colors">Contact</a></li>
            </ul>
        </nav>
    </header>
